:root {
    --border-color: #dbbbe0;
    --background-color: #F3E5F5;
    --secondary-background-color: #7B1FA2;
    --secondary-border-color: #dbbbe0e7;
    --thirdly-background-color: #9C27B0;
    --text-color: #fff;
    --border-radius: 10px;
}